{
	"useTabs": true,
	"trailingComma": "none",
	"jsxSingleQuote": true,
	"singleQuote": true,
	"tabWidth": 2,
	"semi": false,
	"arrowParens": "avoid",
	"printWidth": 130,
	"plugins": ["prettier-plugin-tailwindcss"]
}